section {
  background-color: rgb(0 0 0 / 0.2);
  padding-block: 10px;
  padding-inline: 20px;
  margin: 10px;
  border-radius: 10px;
  width: fit-content;
  text-align: center;
}

.prayerName {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 3em;
  margin-block: 10px;
}

.prayerTime {
  font-size: 2em;
  margin-block: 10px;
}
