header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  background-color: rgb(0 0 0/0.2);
  height: fit-content;
}

header p {
  font-weight: bold;
  font-size: 1.1em;
}
